/* 	Colour Palette
	Dark blue: 		2E5963
	Medium blue: 	3498B5
	Light blue: 	83DAEF
	Cream: 			F8E8C5
	Brown: 			80663E */

body,
html {
	margin: 0;
	padding: 0;
	font-family: "Cabin" "Arial" sans-serif;
	font-size: 15px;
}
html { 
	overflow-y: scroll;
}
html,
body {
	height: 100%;
}
a {
	text-decoration: none;
	color: #3498B5;
}
a:hover {
	color: #83DAEF !important;
}
#container {
	width: 53.33em;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 1.33em;
	min-height: 100%;
	position: relative;
	box-sizing: border-box;
}
#header {
	position: relative;
	padding: 0.67em 0;
}
#header a {
	display: inline-block;
	margin: 0 1em;
}
#content {
	padding-bottom: 12em;
	overflow: auto;
}
#footer {
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	background: url("images/background.jpg");
	background-position: center;
	height: 1.33em;
	padding-top: 26.67em;
	margin-left: -1.33em;
	z-index: -1;
}
#footer div,
#footer div a {
	color: white;
}
#footer div {
	font-size: 75%;
	opacity: 0.4;
	cursor: default;
	position: absolute;
	bottom: 0.67em;
	width: 100%;
	margin: 0 auto;
}
#footer div:hover {
	opacity: 0.8;
}
#logo {
	display: block;
	max-width: 100%;
}
hr {
	height: 1px;
	width: 100%;
	display: block;
	margin: 0.67em 0;
	background: url("images/rule.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	border: none;
	margin-left: auto;
	margin-right: auto;
}
#navBar {
	text-align: center;
	font-weight: bold;
	letter-spacing: 0.067em;
	cursor: default;
	font-size: 120%;
	margin-bottom: 0.67em;
}
.page-text {
	clear: left;
}
.page-image  {
	display: block;
	margin-bottom: 1em;
}
.column {
	float: left;
	box-sizing: border-box;
}
.column.half {
	width: 50%;
}
.column.third {
	width: 33.33%;
}
.column.two-thirds {
	width: 66.67%;
}
.page-text.column.left {
	padding-right: 0.67em;
}
h2 {
	color: #83DAEF;
	font-size: 160%;
	clear: both;
	margin: 0;
	padding: 0;
	font-weight: normal;
}
p,
ul {
	color: #80663E;
	margin: 0.33em 0 1em 0;
	line-height: 1.66;
}
li {
	margin-bottom: 0.5em;
}
.contact {
	color: #83DAEF;
	font-size: 110%;
}
.quote {
	font-size: 90%;
	color: gray !important;
	margin: 2em 0;
	font-style: italic;
}
.quote::before,
.quote::after {
	color: #83DAEF;
	font-size: 600%;
	line-height: 0.28;
	vertical-align: bottom;
	position: relative;
	font-style: normal;
	font-family: "Times" serif;
}
.quote::before {
	top: 0.17em;
	padding-right: 0.11em;
	content: "\201C";
}
.quote::after {
	top: 0.22em;
	padding-left: 0.089em;
	content: "\201D";
}
.cite {
	font-size: 80%;
	margin-top: -1.9em;
}
p.offer::after {
	display: inline-block;
	text-transform: uppercase;
	background: #C45656;
	content: "Special Offer";
	border-radius: 0.25em;
	color: white;
	font-size: 80%;
	padding: 0 0.67em;
	margin-left: 0.83em;
	position: relative;
	top: -0.083em;
	letter-spacing: 0.1em;
}
.testimonial {
	margin: 0 15%;
	text-align: center;
}

@media all and (max-width: 43.33em) {
	.page-text {
		width: 100%;
	}
	.page-image {
		width: 100%;
		max-width: 26.67em;
		margin-left: auto;
		margin-right: auto;
		float: none;
	}
	#header a {
		margin: 0 0.67em;
	}
}