@use '../abstracts/variables/text';
@use '../abstracts/variables/grid';
@use '../abstracts/variables/colours';

body {
  font-family: text.$font-primary;
  line-height: grid.$gutter;
  color: colours.$brown;
}

p,
ul,
ol {
  margin-bottom: .8 * grid.$gutter;

  & + h1,
  & + h2,
  & + h3 {
    margin-top: 1.5 * grid.$gutter;
  }
}

h1,
h2,
h3 {
  font-family: text.$font-secondary;
  color: colours.$dark-grey;
  line-height: 1.1;
  margin-bottom: .5 * grid.$gutter;
}

h1 {
  font-size: text.size(4);
}

h2 {
  font-size: text.size(3);
}

h3 {
  font-size: text.size(2);
}

.site-content ul > li {
  position: relative;

  &::before {
    content: '';
    display: block;
    width: .35em;
    height: .35em;
    position: absolute;
    top: .6em;
    left: -1.1em;
    border-radius: 50%;
    background: colours.$blue;
  }
}
