@use 'sass:color';
@use '../abstracts/variables/colours';

.cta-button:not(p) {
  display: inline-block;
  background: colours.$blue;
  color: colours.$light-grey;
  text-transform: uppercase;
  padding: .6em 1.5em .5em;
  border-radius: 5em;
  transition: background-color 300ms;

  &:hover {
    background: color.adjust(colours.$blue, $lightness: -7%);
  }
}

p.cta-button {
  text-align: center;

  > a {
    @extend .cta-button;
  }
}
