<%- include('partials/head') %>
<%- include('partials/header') %>

<main itemscope itemtype="https://schema.org/Organization">
    <meta itemprop="name" content="Simple Yoga">
    <meta itemprop="image" content="/img/logo.svg">
    <meta itemprop="mainEntityOfPage" content="https://simple-yoga.co.uk">

    <article>
        <%- page.html %>
    </article>
</main>

<%- include('partials/tail') %>
