<footer class="site-footer">
    <ul class="social-icons">
        <li><a href="">
            <%- include('../assets/icon-facebook.svg') %>
        </a>
        <li><a href="">
            <%- include('../assets/icon-twitter.svg') %>
        </a>
        <li><a href="">
            <%- include('../assets/icon-linkedin.svg') %>
        </a>
        <li><a href="">
            <%- include('../assets/icon-instagram.svg') %>
        </a>
    </ul>
</footer>
