<header class="site-header">
    <a class="logo" href="/">
        <%- include('../assets/daisy.svg') %>
    </a>
    <div class="masthead">
        <a href="/">
            <%- include('../assets/logo-text.svg') %>
        </a>
        <%- include('menu') %>
    </div>
</header>
