<header class="site-header">
    <div class="container">
        <a class="logo" href="/">
            <img src="/img/logo.png" alt="Simple Yoga">
        </a>
        <%- include('menu') %>
    </div>
</header>
