<nav class="nav-menu">
    <ul>
        <% for (menu of Object.values(menus)) { %>
            <li>
                <a href="<%- menu.url %>"><%- menu.label %></a>
            </li>
        <% } %>
    </ul>
</nav>
