@use '../abstracts/variables/grid';

.site-logo {
  @extend %site-grid;
  grid-template-areas: '.... logo .... ....';
  position: fixed;
  width: 100%;

  > a {
    grid-area: logo;

    svg {
      width: 100%;
    }
  }
}

.nav-menu {
  grid-area: menu;
  position: relative;
  top: .5rem;
}
